;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[org.clojure/core.async "1.3.610"]]

 :devtools {:preloads [shadow.remote.runtime.cljs.browser]}

 :builds {:lib {:target :node-library
                :output-to "dist/main.js"
                :exports-var winkler.core/generate
                :entries [winkler.core]}

          :test {:target :node-test
                 :autorun true
                 :ns-regexp "test$"
                 :output-to "dist/test.js"}}}
